{% extends 'blog/base.html' %}

{% block content %}

<div class="parallax-container">
    <div class="parallax"><img src="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/pexels-photo-313782.width-1000.jpg"></div>
  </div>
  <div class="section white">
    <div style="margin-left: 10px;" class="row container">
      <h2 class="header">Acerca de Este Blog</h2>
      <p class="grey-text text-darken-3 lighten-3">

          Este blog , es producto de mi constante curiosidad acerca de las cosas , del porque de ellas y de como funcionan
          asi que , me he puesto manos a la obra y he creado este blog completamente desde 0 , programandolo y configurandolo desde la nada hasta
          lo que hoy es , ya que haciendo es como se aprende .</p>

       <p class="grey-text text-darken-3 lighten-3">
          En este blog trata de documentar algunas o la mayoria de conocimientos que adquiera sobre programacion , tecnologia u alguna que otra
          cosa de interes , es como mi cuaderno de apuntes en internet donde si alguna vez necesito recordar algun tema en concreto sobre algo
          de lo que ya investigue no tenga que recurrir a esa investigacion de nuevo , si no que recurra a mis apuntes .</p>
       <p class="grey-text text-darken-3 lighten-3">
          Y asi mismo en ese proceso talvez poder ayudar  a alguien mas que necesite ese mismo conocimiento , si alguien llega aqui en busca de ayuda
          y aqui encuentra alguna solucion o alguna inspiracion es bienvenido ya que el conocimiento es poder y debe de ser de dominio publico.</p>
      </p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="https://s3.amazonaws.com/sunpech_photography/photos/photo/image/10/6b6e6b8e5e79ff22847f237870024e33.jpg"></div>
  </div>

<div class="section white">
    <div style="margin-left: 10px;" class=" row container">
      <h2 class="header">Contacto</h2>
      <p class="grey-text text-darken-3 lighten-3">
          Puedes contactar con migo para cualquier informacion o consulta acerca de este sitio en alguna de mis redes sociales
          para mejor facilidad de contacto y una mejor respuesta.
      </p>
    </div>
  </div>


<div class="center container">


<a href="https://twitter.com">

<img border="0" style="float: none; margin: 0px; width: 60px; height: 60px;" alt="" src="https://image.flaticon.com/icons/svg/145/145812.svg">

</a>
<a href="https://facebook.com">

<img border="0" style="float: none; margin: 0px; width: 60px; height: 60px;" alt="" src="https://image.flaticon.com/icons/svg/145/145802.svg">

</a>

 <a href="https://github.com">

<img border="0" style="float: none; margin: 0px; width: 60px; height: 60px;" alt="" src="https://image.flaticon.com/icons/svg/179/179323.svg">

</a>
</div>




<script>$(document).ready(function(){
      $('.parallax').parallax();
    }); </script>

{% endblock %}