{% extends 'blog/base.html' %}

{% block content %}








      <div class="card">
        <div class="card-image">
          <img alt=""height="250" src="https://scontent.ftgu2-1.fna.fbcdn.net/v/t1.0-9/1426700_691146237575662_1830436459_n.jpg?oh=391118b29b960e6e8f5e788ff2dc3a28&oe=5A6721D0">
          <span class="card-title"> {{ post.title }}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
                  <div class="post">
        {% if post.published_date %}
            <div class="date">

                 <span class="card-title"> {{ post.published_date }}</span>
            </div>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
        </div>
      </div>



{% endblock %}